machine_label_acc_12000.png
machine_label_acc_4000.png
machine_label_acc_8000.png
metric_plot_12000.png
metric_plot_4000.png
metric_plot_8000.png
machine_label_acc_12000.eps
machine_label_acc_4000.eps
machine_label_acc_8000.eps
metric_plot_12000.eps
metric_plot_4000.eps
metric_plot_8000.eps
metric_plot.eps
.idea/
__pycache__
log_cifar10_keras_AUG1_ACC0.95_Tmargin_Lmargin_resnet_grow_C3_L3_K16_B4000_WBSAME_MINIB64.txt
lr_0.004_log.txt
results/
